{* Commentaire Smarty *} 
<!doctype html> <html>     
<head>         
    <meta name="viewport" content="width=device-width, initial-scale=1">         
    <title>Exo1</title>    
</head>     
<body>         
    <h1>Exo1</h1>    
    
</body> 
</html>